{{> /layout/withoutNavHeader}}

<!-- 카테고리등록 폼 시작 -->
<div class="box-form2  center-form">
    <div class="my-2 brand-logo" onclick="location.href='/'">
        글하다
    </div>
    <form action="/s/category" method="post">
        <div class="my-2">
            <input type="text" class="form-control input-form" placeholder="카테고리명" name="title" />
        </div>
        <div class="my-3">
            <button type="submit" class="submit-btn">등록</button>
        </div>
    </form>
</div>
<!-- 카테고리등록 폼 끝 -->

{{> /layout/footer}}